<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
    background-color: #F4AA0A;
    padding: 20px;
    text-align: center;
}

.column {
  float: left;
  width: 30%;
  padding: 15px;
}

.imagenesRedes {
    width: 60px;
    height: 50px;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin: auto;
    align: center;
}

.itemmenu {
    float: left;
}

.linkmenu {
    display: block;
    color: white;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 100px;
    padding-left: 100px;
    text-decoration: none;
}

.linkmenu:hover {
    background-color: #111;
}

#profesion {
    background-color: #0AC9F4;
    padding: 10px;
    text-align: center;
}

#nombre {
    padding: 20px;
    text-align: center;
}

body {
    font-family: "Consolas", "Book Antiqua";
    font-size: 20px;
}

img {
    vertical-align: middle;
}

span {
  background: red;
   border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 10em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 10em;
  margin-right: 30px;
  text-align: center;
  width: 10em;

}

#span1 {
    float: left;
}

#span1 {
    float: right;
}


#listaComp {
    list-style-type: none;
}

#Español {
    background-color: #ADD8E6;
}

#Ingles {
    background-color: #F08080;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;

}
